@import url("./styles.css");

@media screen {
  body {
    color: black;
    background-color: yellow;
  }
}

@media print {
  body {
    color: black;
    background-color: white;
  }
}
@media print {  
    div#navigation {  
      display: none;  
    }  
  } 
/* These styles will remove all padding and margins on h1, h2 and p elements, and make the headings red. */

h1,
h2,
p {
  padding: 0;
  margin: 0;
  font: 1em/1.33 Verdana, sans-serif;
}

h1,
h2 {
  margin: 0.83em 0 0.17em 0;
  color: red;
}

h1 {
  font-size: 1.33em;
}

h2 {
  font-size: 1.17em;
}

p {
  margin: 0 0 0.5em 0;
}
/* Only adds first of property */
/* 
  p:first-of-type {
    font-size: 0.17em;
    line-height: 1.33;
    font-family: Verdana, sans-serif;
}
  */
p.first {
  text-indent: 0em;
}
p:first-of-type {
  font: 0.17em/1.33 Verdana, sans-serif;
}
p + p {
  text-indent: 5em;
}
/* this selects p tags preceded by a p tag --
    that is, not the first p tag */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wrapper {
  border: 1px solid gray;
  padding: 10px;
  width: fit-content;
}
